.banner{
    margin-top: -50px;
    margin-left: 19%;
    background-image: url("../images/bannerimage.jpg");
    background-color: silver;
    background-size: cover;
    width: 1200px;
    height: 600px;
}
.menuitem {
    float: left;
}
ul {
    margin-top: -8px;
    margin-left: 19%;
    list-style-type: none;
    padding: 0;
    overflow: hidden;

}
li {
    float: left;
}
li a {
    background-color: lightgray;
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    width: 268px;

}
li a:hover {
    background-color: lightslategray;
}
.container{
    margin-top: 20px;
    margin-left: 19%;
    /*width:800px;*/
    overflow: hidden;
}
#pakket1{
    width: 250px;
    height: 400px;
    background-color: red;
    display: inline-block;
    margin-right: 65px;
}
#pakket2{
    width: 250px;
    height: 400px;
    background-color: green;
    display: inline-block;
    margin-right: 65px;
}
#pakket3{
    width: 250px;
    height: 400px;
    background-color: lawngreen;
    display: inline-block;
    margin-right: 65px;
}
#pakket4{
    width: 250px;
    height: 400px;
    background-color: deeppink;
    display: inline-block;
}
#nieuws1{
    width: 250px;
    height: 400px;
    background-color: red;
    display: inline-block;
    margin-right: 65px;
    margin-left: 10.5%;
}
#nieuws2{
    width: 250px;
    height: 400px;
    background-color: red;
    display: inline-block;
    margin-right: 65px;
}
#nieuws3{
    width: 250px;
    height: 400px;
    background-color: red;
    display: inline-block;
    margin-right: 65px;
}
#break{
    height: 30px;
}