/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*endcssreset*/
    .banner{
    background-image: url("../images/banner1.png");
    background-color: silver;
    background-size: cover;
    width: 100%;
    height: 270px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menuitem {
    float: left;
}

.menuitem a {
    display: block;
    color: white;
    text-align: center;
    /*padding: 14px 16px;*/
    text-decoration: none;
    width: 23vw;
    height: 50px;
    line-height: 50px;
}
.menuitem a:hover {
    background-color: #111;
}
.menu{
    width: 100vw;
    background-color: #333;
    height: 50px;
}
#active {
    background-color: #009688;
    height: 50px;
}
.container{
    width: 80%;
    padding: 20px;
    margin-top: 20px;
    margin-left: 19%;
    overflow: hidden;
}
#nieuws1{
    width: 250px;
    height: 400px;
    background-color: lightslategray;
    display: inline-block;
    margin-right: 65px;
    margin-left: 10.5%;
}
#nieuws2{
    width: 250px;
    height: 400px;
    background-color: lightslategray;
    display: inline-block;
    margin-right: 65px;
}
#nieuws3{
    width: 250px;
    height: 400px;
    background-color: lightslategray;
    display: inline-block;
    margin-right: 65px;
}
#break{
    height: 30px;
}
body{
    background-color: ghostwhite;
    /*test*/
}


a {
    text-decoration: none;
    transition: all 0.5s ease;
}


#flexcontainer {
    display: flex;
    padding: 5px;
}

.newsdiv {
    height: 400px;
    width: 250px;
    background-color: lightgray;
    margin-right: 5px;
    overflow: hidden;
}

.newsdiv a {

}

.newsdiv h4 {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.8);
    position: relative;
    top: 100px;
    color: white;
    width: 250px;
    padding-left: 5px;
    height: 50px;
}

.newsdiv .imgdiv {
    height: 150px;
    background-image: url("http://i.dailymail.co.uk/i/pix/2012/10/17/article-0-158CAE40000005DC-837_964x641.jpg");
    background-size: cover;
    margin-bottom: 10px;
    box-shadow: 0px 1px 2px 1.5px rgba(0,0,0,0.75);
}

.newsdiv .newscontainer {
    padding: 5px;
    height: 200px;
}

.newsdiv .readmore {
    margin-left: 5px;
}
/*teeeessssttt*/
*{
    padding : 0;
    margin : 0;
    border : 0;
}
.blended_grid{
    display : block;
    width : 1000px;
    overflow : auto;
    margin : 100px auto 0 auto;
}
.pageColumnLeft{
    background-color : rgba(0, 0, 0, 0.5);
    float : left;
    clear : none;
    height : 600px;
    width : 300px;
    margin: 15px;
}
.pageColumnMid{
    background-color : rgba(0, 0, 0, 0.5);
    float : left;
    clear : none;
    height : 600px;
    width : 300px;
    margin : 15px;
}
.pageColumnRight{
    background-color : rgba(0, 0, 0, 0.5);
    float : left;
    clear : none;
    height : 600px;
    width : 300px;
    margin : 15px;
}

.pageFooter{
    background-color : rgba(0, 0, 0, 0.5);
    float : left;
    clear : none;
    height : 100px;
    width : 1000px;
}
