#pakket1{
    width: 250px;
    height: 600px;
    background-color: black;
    display: inline-block;
    margin-right: 65px;
    margin-left: -2%;
}
#pakket2{
     width: 250px;
     height: 600px;
     background-color: green;
     display: inline-block;
     margin-right: 65px;
 }
#pakket3{
    width: 250px;
    height: 600px;
    background-color: lawngreen;
    display: inline-block;
    margin-right: 65px;
}
#pakket4{
    width: 250px;
    height: 600px;
    background-color: deeppink;
    display: inline-block;
}
.banner{
    margin-left: -7%;
    padding-left:22px;
}
.menu{
    margin-left: -7%;
}
li a{
    width: 273px;
}